---
// ** Import Thrird party
import { Icon } from 'astro-icon/components'

// ** Import Layout
import Layout from '@/layouts/Layout.astro'
import { socials } from '@/configs/social'
---

<Layout title="Ilfat Izzat Pratama - Software Design and Development Leader">
  <main class="h-screen grid place-items-center">
    <div class="flex flex-col max-w-md">
      <h1 class="text-4xl font-bold mb-3 text-primary">Ilfat Izzat Pratama 🔥</h1>
      <p class="text-lg mb-4">Technical Project Manager | Software Engineer | Content Creator</p>
      <p class="text-xs mb-4 text-justify">
        With 6+ years in software design and leadership, I guide teams to excellence. As a content
        creator, I share creative tech insights. My blend of technical skills and leadership fosters
        innovation, aiming to contribute significantly to the software industry.
      </p>

      <div class="flex items-center justify-center gap-3 mt-8">
        {
          socials.map((social) => (
            <a
              href={social.href}
              target="_blank"
              rel="nofollow noopener"
              class="flex items-center gap-1 hover:text-primary"
            >
              <Icon name={social.icon} class="w-8 h-8" />
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
