---
// ** Import Thrird party
import { Icon } from 'astro-icon'

// ** Import Layout
import Layout from '../layouts/Layout.astro'
---

<Layout title="dinojantan | Ilfat Izzat Pratama">
  <main class="w-[min(100%-2rem,1200px)] mx-auto h-screen grid place-items-center">
    <div class="flex flex-col max-w-xs">
      <h1 class="text-4xl font-bold mb-3 text-primary">dinojantan.com</h1>
      <h3 class="text-lg font-light mb-1">Ilfat Izzat Pratama 🔥</h3>
      <p class="text-xs mb-4">Software Engineer | Content Creator</p>
      <select data-choose-theme class="select select-bordered w-full mb-8">
        <option disabled selected>Choose your theme</option>
        <option value="dark">Dark</option>
        <option value="light">Light</option>
        <option value="retro">Retro</option>
        <option value="retha">Retha</option>
      </select>

      <div class="flex flex-col gap-3">
        <a
          href="https://www.tiktok.com/@dino.gank.code"
          target="_blank"
          class="flex items-center gap-1 hover:text-primary"
        >
          <Icon name="tabler:brand-tiktok" class="w-8 h-8" />
          <p>@dino.gank.code</p>
        </a>
        <a href="mailto:izzat@dinojantan.com" class="flex items-center gap-1 hover:text-primary">
          <Icon name="tabler:mail" class="w-8 h-8" />
          <p>izzat@dinojantan.com</p>
        </a>
        <a
          href="https://twitter.com/dinosaurjantan"
          target="_blank"
          class="flex items-center gap-1 hover:text-primary"
        >
          <Icon name="tabler:brand-twitter" class="w-8 h-8" />
          <p>@dinosaurjantan</p>
        </a>
        <a
          href="https://www.instagram.com/dino.gank.code"
          target="_blank"
          class="flex items-center gap-1 hover:text-primary"
        >
          <Icon name="tabler:brand-instagram" class="w-8 h-8" />
          <p>@dino.gank.code</p>
        </a>
        <a
          href="https://discord.gg/cJmY2XsqB7"
          target="_blank"
          class="flex items-center gap-1 hover:text-primary"
        >
          <Icon name="tabler:brand-discord" class="w-8 h-8" />
          <p>Dino</p>
        </a>
      </div>
    </div>
  </main>
</Layout>
