---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem('theme') === null) {
        document.documentElement.setAttribute('data-theme', 'dark')
      } else document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'))
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change'
      themeChange()
      // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Ilfat Izzat Pratama" />
    <meta name="keywords" content="blog, portofolio, user profile" />
    <meta name="viewport" content="width=device-width" />
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
