---
import '@/styles/globals.css'
// import { ModeToggle } from '@/components/ModeToggle'
interface Props {
  title: string
}

const { title } = Astro.props
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Ilfat Izzat Pratama. With 6+ years in software design and leadership, I guide teams to excellence. As a content creator, I share creative tech insights. My blend of technical skills and leadership fosters innovation, aiming to contribute significantly to the software industry."
    />
    <meta
      name="keywords"
      content="Software design, Development leader, Team management, Tech insights, Content creator, Innovation, Leadership skills, Ongoing growth, Positive impact, Software industry contribution"
    />
    <!-- Open Graph Meta Tags for Social Media -->
    <meta
      property="og:title"
      content="Ilfat Izzat Pratama - Software Design and Development Leader"
    />
    <meta
      property="og:description"
      content="Experienced leader in software design and development, driving teams toward excellence with a blend of technical skills and creative insights."
    />
    <meta property="og:image" content="https://www.dinojantan.com/profile.jpeg" />
    <meta property="og:url" content="https://www.dinojantan.com" />

    <!-- Twitter Meta Tags for Social Media -->
    <meta name="twitter:card" content="https://www.dinojantan.com/profile.jpeg" />
    <meta name="twitter:site" content="@dinosaurjantan" />
    <meta
      name="twitter:title"
      content="Ilfat Izzat Pratama - Software Design and Development Leader"
    />
    <meta
      name="twitter:description"
      content="Experienced leader in software design and development, driving teams toward excellence with a blend of technical skills and creative insights."
    />
    <meta name="twitter:image" content="https://www.dinojantan.com/profile.jpeg" />
    <meta name="author" content="Ilfat Izzat Pratama" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <!-- <ModeToggle client:load /> -->
    <div class="w-[min(100%-2rem,1200px)] mx-auto">
      <slot />
    </div>
  </body>
</html>
